<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <!-- <%allG.forEach(function(isi){ %> -->
    <form action="/group/edit/<%=allG[0].id%>" method="post">

      Group :<br>
      <input type="text" name="group" value="<%=allG[0].name_of_group%>">
      <br>

  <br>
  <input type="submit" value="Submit">
</form>
<!-- <%})%> -->
  </body>
</html>
