<form action="/groups/update/<%= data[0].id %>" method="post">
  <input type="text" name='id' value='<%= data[0].id %>' >
  <input type="text" name='name_of_group' value='<%= data[0].name_of_group %>'>
  <button type="submit">Submit</button>
</form>
