<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <h1><b><center> CONTACT AND LIST WEB APPLICATION </center></b></h1>
  <center>
  <b>
  <br><br>
    <td> <a href="/contact/">Contact</a> </td>
    <br>
    <td> <a href="/group/">Group</a> </td>
    <br>
    <td> <a href="/profiles/">Profile</a> </td>
    <br>
    <td> <a href="/addresses/">Addresses</a> </td>
    <br>
  </br>
</center>
</html>
