<html>
<head>
  <link rel="stylesheet" href="/style.css" ></link>
</head>
<body>
  <h1>HOME</h1>
  <h2><a href="/contacts">Contacts</a></h2>
  <h2><a href="/groups">Groups</a></h2>
  <h2><a href="/profiles">Profiles</a></h2>
  <h2><a href="/address">Address</a></h2>
  <h2><a href="/contacts-groups">Contacts Groups</a></h2>
</body>
</html>
